body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {	
  background-color: #f6b319;
}

#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat; 
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

a.navbar-brand {
  position: relative;
  padding-top: 25px;
  font-family: 'Lora', serif;
  color: #557c3e;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  line-height: .75;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

p.kosher {
	text-transform: uppercase;
	margin-top: 10px;
	color: #000;
	font-size: .7em;
}

p.kosher span {
	vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list > li {
  padding: 10px;
}
#nav-list a {
  color: #951C49;
  text-decoration: none;
}
#nav-list li:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

button.navbar-toggler {
  position: absolute;
  left: 85%;
  top: 17.5%;
}
.header-nav a:hover, .header-nav a:focus {
  text-decoration: none;
}
#navbarNav {
  max-width:220px;
}
#nav-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#header-nav {
  display: flex;
  justify-content: flex-end;
}
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

.card-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.card-footer div.row {
	margin-bottom: 35px;
}
#hours, #address {
	line-height: 2;
}
#hours > span, #address > span {
	font-size: 1.3em;
}
#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
	font-style: italic;
}
#testimonials p:nth-child(2) {
	margin-top: 25px;
}

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center; 
}
#specials-tile {
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center; 
}

#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title {
	margin-top: 20px;
}
#menu-categories-title + div {
	margin-bottom: 50px;
}
.active {
	background: rgb(119,136,153,0.6);
}

.menu-item-tile {
	margin-bottom: 25px;
}
.menu-item-tile hr {
	width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}


/********** Large devices only **********/
@media (min-width: 992px) {

  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
  }
  #navbarNav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #navbarNav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #navbarNav {
    max-width: 100%;
  }
  #nav-list > li {
    text-align: center;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 20px 20px 0px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
  	width: 100%;
  	margin: 0 auto 15px;
  }

  .card-footer section {
  	text-align: center;
  }
  .card-footer section:nth-child(3) {
  	margin-bottom: 0;
  }
  .card-footer section hr {
  	width: 50%;
  }
  hr {
  	border-color: white;
  }
  .menu-item-tile hr{
  	border-color: black;
  }
  .menu-item-photo {
  	margin-right: auto;
  	margin-left: auto;
  }
  .menu-item-tile .menu-item-price {
  	text-align: center;
  }
  .menu-item-description {
  	text-align: center;
  }

}